@model IEnumerable<Cart>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <p class="breadcrumbs mb-0"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Cart <i class="fa fa-chevron-right"></i></span></p>
                <h2 class="mb-0 bread">My Cart</h2>
                
            </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						    	<th>&nbsp;</th>
						    	<th>&nbsp;</th>
						    	<th>Product</th>
						      <th>Price</th>
						      <th>Quantity</th>
						      <th>&nbsp;</th>
						    </tr>
						  </thead>
						  

						  
						  <tbody>
						  @foreach(var item in Model){
							  

						    <tr class="alert" role="alert">

						    	<td>
						    		<div class="img" style="background-image: url(@ImageHelper.GetImageLink(@item.Produto.Imagem));"></div>
						    	</td>
								<td></td>
						      <td id=Product>
						      	
						      		<span>@Html.DisplayFor(model => item.Produto.NomeProduto)</span>

						      </td>
						      <td id="price">@Html.DisplayFor(model => item.Produto.PrecoUnidade)</td>
						      <td class="quantity">
					        	<div class="input-group">
				             	<span id="qty"> @Html.DisplayFor(modelItem => item.qty)</span>
				          	</div>
				          </td>
                              
						      
						    </tr>
							}
						  </tbody>
						</table>
						
					</div>
					
    		</div>
    		<div class="row justify-content-end">
    			<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
                            <span id="subtotal">@ViewData["TC"]€</span>
    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
    						<span id="delivery">3.00€</span>
    					</p>
    					<hr>
    					<p class="d-flex">
    						<span>Total</span>
                            <span id="total"></span>
    					</p>
    				</div>
    				<p class="text-center"><a asp-action=shop class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
    			</div>
    		</div>
    	</div>
    </section>
}

@section scripts{
	<script>
		function total(){
			var price = document.getElementById("subtotal").innerHTML
			var qty = document.getElementById("delivery").innerHTML

			var total = parseInt(price) + parseInt(qty);

			

			document.getElementById("total").innerHTML = total+"€"
		}

		total()


	</script>
}
