@model PAP3.Models.Produto
@using PAP3.Helpers
@{
    Layout = "_Layout";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/image_6.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <p class="breadcrumbs mb-0"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home <i class="fa fa-chevron-right"></i></a></span> <span>Details <i class="fa fa-chevron-right"></i></span></p>
                <h2 class="mb-0 bread">Details</h2>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate">
                <a href="@ImageHelper.GetImageLink(Model.Imagem)" class="image-popup prod-img-bg"><img src="@ImageHelper.GetImageLink(Model.Imagem)" class="img-fluid" alt="Colorlib Template"></a>
            </div>
            

            
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <h3 id="name" value="@Model.Id">@Model.NomeProduto</h3>
                <div class="rating d-flex">
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2">5.0</a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                        <a href="#"><span class="fa fa-star"></span></a>
                    </p>
                    @*<p class="text-left mr-4">
                            <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
                        </p>
                        <p class="text-left">
                            <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
                        </p>*@
                </div>

                <p class="price" asp-for=price><span>@Html.DisplayFor(model => model.PrecoUnidade)€</span></p>
                

                <div class="row mt-4">
                   <!-- <div class="input-group col-md-6 d-flex mb-3">
                        <span class="input-group-btn mr-2">
                            <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="" onclick=lessValue()>
                                <i class="fa fa-minus"></i>
                            </button>
                        </span>
                        <input readonly type="text" id="quantity" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                        <span class="input-group-btn ml-2">
                            <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="" onclick="addValue()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>-->
                    <div class="w-100"></div>
                    <div class="col-md-12">
                        <p style="color: #000;" id="numbottles">@Html.DisplayFor(model=>model.stock) bottles available</p>
                    </div>
                </div>
                <p><a asp-controller=Cart asp-action=AddtoCart asp-route-id=@Model.Id class="btn btn-primary py-3 px-5 mr-2">Add to Cart</a><!--<a href="cart.html" class="btn btn-primary py-3 px-5">Buy now</a>--></p>
               
            </div>
        </div>
        



        <div class="row mt-5">
            <div class="col-md-12 nav-link-wrap">
                <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link ftco-animate active mr-lg-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Description</a>
                </div>
            </div>
            <div class="col-md-12 tab-wrap">

                <div class="tab-content bg-light" id="v-pills-tabContent">

                    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
                        <div class="p-4">
                            <h3 class="mb-4">@Html.DisplayFor(model => model.NomeProduto)</h3>
                            <p>@Html.DisplayFor(model => model.Description)</p>
                        </div>
                    </div>
                    </div>
                  </div>
    </div>
</section>
    @section Scripts {
        
        <script>
            function addValue(){
                var quantity = document.getElementById("quantity").value;
                var stock = document.getElementById("numbottles").innerHTML;

                stock=parseInt(stock);
                quantity = parseInt(quantity);
                
                if(quantity < stock)
                    quantity += 1;
                    document.getElementById("quantity").value=quantity;
                    
            }
               

            function lessValue(){
                var quantity = document.getElementById("quantity").value;
                var stock = document.getElementById("numbottles").innerHTML;

                stock=parseInt(stock);
                quantity = parseInt(quantity);
                
                if(quantity > 1)
                    quantity -= 1;
                    document.getElementById("quantity").value=quantity;
                
            }    


        </script>

    }